/* Core classes for extendability
TODO - Add block and inline-block classes
*/

%table {
  display: table;
  width: 100%;
}

%cell {
  display: table-cell;
}

%full_width {
  width: 100%;
}

%full_height {
  height: 100%;
}
