/* Core classes for extendability
TODO - Add block and inline-block classes
*/

%table {
  display: table;
  width: 100%;
}

%row {
  display: table-row;
}

%cell {
  display: table-cell;
}

%full_width {
  width: 100%;
}

%full_height {
  height: 100%;
}

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

%block {
  display: block;
}

%inline_block {
  @include inline-block;
}
