/*
The page layout is as follows:

.app {
  .page_header {
    .nav {

    }
  }
  .main {
    .content_wrapper {
      .content {

      }
    }
  }
}
*/

$sidebarWidth: 300px;
$stackedNavAt: 50em;

html, body {
  @extend %full_height;
  @extend %full_width;
}

.app {
  @extend %table;
  @extend %full_height;
  position: fixed;
}

.page_header {
  min-width: $sidebarWidth;
  display: table-header-group; // Vertical stacking at smaller window sizes

  @media (min-width: $stackedNavAt) {
    display: table-cell; // Horizontal sidebar at larger window sizes
    vertical-align: top;
  }
}

.main {
  @extend %full_height;
  @extend %full_width;
  @extend %cell;
  vertical-align: top;
}

.content_wrapper {
  @include box-sizing(content-box);
  @extend %full_height;
  overflow-y: scroll;
}

.content {
  @extend %table;
  @extend %full_height;
  @extend %full_width;

  @media (min-width: $stackedNavAt) {
    min-width: $sidebarWidth;
  }
}

.footer {
  display: table-footer-group;
}
