/*
The page layout is as follows:

.app {
  .page_header {
    .nav {

    }
  }
  .main {
    .content_wrapper {
      .content {

      }
    }
  }
}
*/

html, body {
  @extend %full_height;
  @extend %full_width;
}

.app {
  @extend %table;
  @extend %full_height;
  position: fixed;
}

.page_header {
  @include rem(min-width, $sidebarWidth);
  display: table-header-group; // Vertical stacking at smaller window sizes

  @media ($medium) {
    display: table-cell; // Horizontal sidebar at larger window sizes
    vertical-align: top;
  }
}

.main {
  @extend %full_height;
  @extend %full_width;
  @extend %cell;
  vertical-align: top;
}

.content_wrapper {
  @include box-sizing(content-box);
  @extend %full_height;
  overflow-y: scroll;
}

.content {
  @extend %table;
  @extend %full_height;
  @extend %full_width;

  @media ($medium) {
    max-width: 300px; // CHANGE ME
  }
}

.footer {
  display: table-footer-group;
}
